extends layout

block content
  if user
    div.p-5.my-4.bg-light.rounded-3
      p 現在 #{user.displayName} でログイン中
      ul
        li: a(href="/users") マイページ
    div
    - var hasDiary = diaries.length > 0
    if hasDiary
      h3 日記一覧
      table.table.table-striped
        tr
          th 日付
          th 歩数
          th 日記
          th 
        each diary in diaries
          tr
            td #{diary.date}
            td #{diary.step}
            td #{diary.text}
            td: a(href=`/users/diaries/${diary.diaryId}/edit`) 編集する
