extends layout

block content
  h3 #{diaries.date}の日記を編集
  div.mx-5
    form(method="post", action=`/diaries/${diaries.diaryId}?edit=1`)
      input(type="hidden" name="_csrf" value!=csrfToken)
      - let step = diaries.step
      div.row.gy-3
        div.col-6
          label.form-label 歩数
          input(type="number" name="step" placeholder=step required).form-control
      - let text = diaries.text
        div.col-12
          label.form-label 日記
          textarea(name="text" placeholder=text required).form-control
      button(type="submit").btn.btn-primary.my-3 以上の内容で予定を編集する
  h3 危険な変更
  div.mx-3
    form(method="post", action=`/diaries/${diaries.diaryId}?delete=1`)
      input(type="hidden" name="_csrf" value!=csrfToken)
      button(type="submit").btn.btn-danger.my-3 この予定を削除する