extends layout

block content
  h3 編集
  form(method="post", action=`/users/diaries/${diaries.diaryId}?edit=1`)
    div
      h5 既存の日付  #{diaries.date}
    div
      h5 既存の歩数  #{diaries.step}
      p 編集
      input(type="number" name="step")
    div
      h5 既存の日記  #{diaries.text}
      p 編集
      textarea(name="text")
    div
      button(type="submit") 以上の内容で予定を編集する
  h3 危険な変更
  form(method="post", action=`/users/diaries/${diaries.diaryId}?delete=1`)
    button(type="submit") この予定を削除する