extends layout

block content
  if user
    div.p-3.my-1.bg-light.rounded-3
      p 現在 #{user.displayName} でログイン中
    div
    - var hasDiary = diaries.length > 0
    - var i = 1
    if hasDiary
      h3 #{today}の歩いた人ランキングトップ10！
      table.table.table-striped
        tr
          th 順位
          th ユーザー名
          th 歩数
        each diary in diaries
          tr
            td 第#{i}位
            td #{diary.user.username}
            td #{diary.step}
            - i = i + 1
    div
  else
    div.d-flex.w-100.h-100.p-3.mx-auto.flex-column.text-center
      h5.lead さんぽにっきにtwitterでログイン
      a(href="/auth/twitter")
        button.btn.btn-lg.btn-secondary.fw-bold.border-white.bg-info twitterでログイン

