extends layout

block content
  h1= title
  p Welcome to #{title}
  if user
    p 現在 #{user.displayName} でログイン中
    div
    - var hasDiary = diaries.length > 0
    - var i = 1
    if hasDiary
      h3 #{today}の歩いた人ランキングトップ10！
      table.table
        tr
          th 
          th ユーザー名
          th 歩数
        each diary in diaries
          tr
            td 第#{i}位
            td #{diary.user.username}
            td #{diary.step}
            - i = i + 1
    div
      ul
        li: a(href="/users") マイページ
  else
     div
       a(href="/login") ログイン
